<div class="content main_content" role="main">
    <!-- <img src="assets/images/Chiritech.png" /> -->
    <div class="row gx-5 ">
        <img class="homeLogo" src="assets/images/cheri.png" />
    </div>

    <div class="row">
        <div class="banner-text">
            <h1 id="title-behind">ChiriTech</h1>
            <!-- <h1 id="title-the">Planificacion</h1>
            <h1 id="title-lens">Diseño</h1>
            <h1 id="title-lens">Desarollo</h1> -->
            <h2 id="subtitle">Where Innovation meets Excelence </h2>
        </div>
    </div>

</div>
<router-outlet></router-outlet>