/* You can add global styles to this file, and also import other style files */
body {
  background-color: #465022;
  text-align: center;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
